.main-class {
    color: black;
    background-color: teal;
    border: 1px solid red;
    border-radius: 4px;
}
.secondary-class{
    background-color: #ee82ee;
    border-color: #333;
    border-radius: 4px;
    border: 1px solid red;
}

.showHideClass {
    border: 1px solid gray;
    background-color: #c5c5c5;
    font-size: large;
    display: flex;
    align-items: center;
    padding: 20px;
}
#togglePara {
    font-size: 20px;
    color: #333;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.showPara {
    display: none;
}