.themeSwich 
{
    background-color: blue;
    color: #333;
}
body div {
    background-color: #333;
    color: #fff;
    height: 200px;
    width: 300px;
    font-size: large;
    display: flex;
    align-items: center;
}