.tab-headers {
    margin: 20px;
    padding: 0px;
    width: fit-content;
    border: 1px solid #999;
    border-radius: 4px;
}

button.tab.active {
    background-color: #3683ff;
    color: #fff;
}

button.tab {
    background: #fff;
    padding: 10px 24px;
    margin: 0px;
    border: 1px solid #686666;
    border-radius: 4px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}
.tab-contents {
    margin: 0px 20px;
    padding: 10px;
    height: 50%;
    min-height: 200px;
    box-shadow: 0px 0px 2px 1px #aba5a5;
    border-radius: 4px;
    width: 50%;
}
.content {
    display: none;
}
.content.active {
    display: block;
}
